
body {font-family:"Times New Roman"; font-size:14px; font-weight:normal; background-color:white;}
#entete_page1 { background-color: green; color: white; line-height: 45px; padding: 0 20px}
.entete {font-size:30px}
#entete_page2 { background-color: green; color: white; width: 1240px; height: 40px; line-height: 30px; position:absolute; top: 5px;	left: 5px; text-align: center;font-size:30px;}
#page2        { pointer-events: auto; position : absolute; top : 550px;  left: 300px;  width: 1250px;  height: 400px; background-color: white; border-width: 5px; }
table { table-layout:auto;width:100%;}

pre {line-height:120%;}
p {	text-align:left; color:black; line-height:60%;}

#schema {position:absolute;	top: 55px;	left: 300px; border: 2px solid #9C9898;}

#date_jour          { width: 120px;height: 20px;text-align:center;font-size:14px;font-family: Verdana, Geneva, Tahoma, sans-serif ;margin: 0px 0px 0px 31px; border: 2px solid #9C9898;} /* date jour */
#start_date_project { width: 120px;height: 20px;text-align:center;font-size:12px;font-family: Verdana, Geneva, Tahoma, sans-serif ;margin: 0px 0px 0px 30px; border: 2px solid #9C9898;} /* date projet */
#file_name_db{ width: 120px; height: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif ;margin: 0px 0px 0px 23px; border: 2px solid #9C9898;} /* file name */
#width       { width: 100px;height: 20px;margin: 0px 0px 0px 60px;} /* largeur canvas */
#height      { width: 100px;height: 20px; margin: 0px 0px 0px 60px;} /* hauteur canvas */
#g_columns   { width: 20px; height: 20px; margin: 0px 0px 0px 19px;} /* hauteur ligne */
#g_rows      { width: 20px; height: 20px; margin: 0px 0px 0px 27px;} /* hauteur ligne */
#message1 {	width: 100px;  margin: 10px 0px 0px 27px; border: 2px solid #9C9898;}
#message2 {	width: 100px;  margin: 0px 0px 0px 27px; border: 2px solid #9C9898;}
#newproject {margin: 0px 0px 0px 105px; width: 130px; height: 30px;background: rgb(21,105, 126); font-size:12px;text-align: center;font-family: Verdana, Geneva, Tahoma, sans-serif ;border-radius: 10%;color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));}
#newproject:hover {box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);cursor: pointer;}
#write_db {width: 85px; height: 40px;background: rgb(21,105, 126); font-size:12px;text-align: center;font-family: Verdana, Geneva, Tahoma, sans-serif ;border-radius: 10%;color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));}
#write_db:hover {box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);cursor: pointer;}
#read_db {width: 85px; height: 40px;background: rgb(21,105, 126); font-size:12px;text-align: center;font-family: Verdana, Geneva, Tahoma, sans-serif ;border-radius: 10%;color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));}
#read_db:hover {box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);cursor: pointer;}
#display_datas {width: 100px; height: 40px;background: rgb(21,105, 126); font-size:12px;text-align: center;font-family: Verdana, Geneva, Tahoma, sans-serif ;border-radius: 10%;color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));}
#display_datas:hover {box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);cursor: pointer;}
#essai_task {margin: 10px 0px 0px 105px;width: 130px; height: 30px;background: rgb(21,105, 126); font-size:12px;text-align: center;font-family: Verdana, Geneva, Tahoma, sans-serif ;border-radius: 10%;color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));}
#essai_task:hover {box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);cursor: pointer;}
#w_task {width: 45px; height: 20px;    position:absolute; top : 345px; left : 150px; border: 2px solid #9C9898; font-size:12px;}
#l_size {width: 45px; height: 20px;    position:absolute; top : 370px; left : 150px; border: 2px solid #9C9898; font-size:12px;}
#g_columns {width: 45px; height: 20px; position:absolute; top : 395px; left : 130px; border: 2px solid #9C9898; font-size:12px;}
#g_rows {width: 45px; height: 20px;    position:absolute; top : 420px; left : 122px; border: 2px solid #9C9898; font-size:12px;}

#text1 { width: 200px;  margin: 0px 0px 0px 0px;}
#text2 { width: 200px;  margin: 0px 0px 0px 0px;}
#text3 { width: 200px;  margin: 0px 0px 0px 0px;}
#text4 { width: 200px;  margin: 0px 0px 0px 0px;}
#text5 { width: 200px;  margin: 0px 0px 0px 0px;}
#text6 { width: 200px;  margin: 0px 0px 0px 0px;}
#text7 { width: 200px;  margin: 0px 0px 0px 0px;}
#text8 { width: 200px;  margin: 0px 0px 0px 0px;}
.message { width: 200px;  margin: 0px 0px 0px 0px;}
/* #message1 {width: 200px; height: 20px; margin: 0px 0px 0px 5px; border: 2px solid #9C9898; font-size:12px;} */
/* #message2 {width: 200px; height: 20px; margin: 0px 0px 0px 5px; border: 2px solid #9C9898; font-size:12px;} */

.label_name_task{ width: 250px; height: 20px; margin: 0px 20px 0px 0px; padding: 0px 20px 0px 20px;}
.name_task{ width: 200px; height: 20px; margin: 0px 10px 0px 0px;}
.start_task{ width: 50px; height: 20px;margin: 0px 10px 0px 0px;}
.delay_task{ width: 50px; height: 20px;margin: 0px 10px 0px 0px;}
.gap_with_upstream_task{ width: 50px; height: 20px;margin: 0px 10px 0px 0px;}
.milestone{ width: 50px; height: 15px; margin: 0px 0px 0px -15px;}
.downstream_task { width: 50px; height: 20px;margin: 0px 10px 0px 0px;}
.upstream_task { width: 50px; height: 20px;margin: 0px 0px 0px 0px;}
.principal_task { width: 50px; height: 15px;margin: -10px 0px 0px -10px;}
.bouton_delete {width: 42px; height: 20px;background: rgb(21,105, 126); font-size:11px;text-align: center;font-family: Verdana, Geneva, Tahoma, sans-serif ;
                border-radius: 10%;color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));margin: 0px 0px 0px -10px;}
.bouton_insert {width: 42px;height: 20px; background: rgb(21,105, 126); font-size:11px;text-align: center;font-family: Verdana, Geneva, Tahoma, sans-serif ;
                border-radius: 10%;color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));margin: 0px 0px 0px 5px;}
.color_task { width: 20px; height: 20px; margin: 0px 0px 0px 10px; border-width: 1px;
                border-style: ridge ; border-radius: 50px; border-color:red ;}
#T1{ width: 200px;  margin: 0px 0px 0px 100px;} /* definition Iframe */
#T2{ width: 50px;  margin: 0px 0px 0px 145px;} /* start task Iframe*/
#T3{ width: 50px; margin: 0px 0px 0px 15px;} /* delay Iframe*/
#T4{ width: 50px; margin: 0px 0px 0px 15px;} /* Gap Iframe*/
#T5{ width: 50px; margin: 0px 0px 0px 100px;} /* milestone Iframe*/
#T6{ width: 50px; margin: 0px 0px 0px 100px;} /* downstream task Iframe*/
#T7{ width: 50px; margin: 0px 0px 0px 100px;} /* main task Iframe*/
#bouton_Iframe{ width: 100px; height: 20px; margin: 40px 0px 0px 0px;font-size:11px;text-align: center;font-family: Verdana, Geneva, Tahoma, sans-serif ;}
#SET_start_tasks{ width: 150px; height: 20px; margin: 0px 0px 0px 950px;font-size:11px;text-align: center;font-family: Verdana, Geneva, Tahoma, sans-serif ;}
.dessin_lla img {display: block; margin: 0 auto; height : 50px; width : 50px; position : absolute; top : 60px; left : 20px;}
#drapeau_F {height:15px; width:20px;position : absolute; top : 600px; left : 10px;}
#drapeau_F:hover {box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);cursor: pointer;}
#drapeau_A {height:15px; width:20px;position : absolute; top : 600px; left : 40px;}
#drapeau_A:hover {box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);cursor: pointer;}

input:enabled {color: black;}
input:disabled {color: black;background-color: lightgray}

#pwidget { background-color:lightgray; width:260px; padding:2px; border-radius:3px; border-radius:3px; text-align:left; border:1px solid gray;}
#progressbar { width:255px; padding:1px; background-color:white; border:1px solid black; height:28px;}
#indicator { width:0px; background-image:url("barre_progression.png"); height:28px; margin:0;}
#progressnum { text-align:center; width:255px;}

/*---------------#region Alert--------------- */
#dialogoverlay{display: none;opacity: .8; position: fixed; top: 0px; left: 0px; background: #707070; width: 100%; z-index: 10;}
#dialogbox{ display: none; position: absolute; background: rgb(0, 47, 43); border-radius:7px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.575); transition: 0.3s; width: 50%;
  z-index: 10; top:0; left: 0; right: 0; margin: auto;}
#dialogbox:hover {box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.911);}
.pure-material-button-contained {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  background-color: rgb(var(--pure-material-primary-rgb, 0, 77, 70));
  /* background-color: rgb(1, 47, 61) */
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
.pure-material-button-contained::before {
  content: "";
  position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0; transition: opacity 0.2s;
}
.pure-material-button-contained::after {
  content: "";
  position: absolute; left: 50%; top: 50%; border-radius: 50%; padding: 50%; width: 32px; /* Safari */ height: 32px; /* Safari */
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0; transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-contained:hover,
.pure-material-button-contained:focus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.pure-material-button-contained::-moz-focus-inner { border: none;}
.pure-material-button-contained:focus::before { opacity: 0.24;}
.pure-material-button-contained:hover:focus::before { opacity: 0.3;}

/* Active */
.pure-material-button-contained:active { box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);}
.pure-material-button-contained:active::after { opacity: 0.32; transform: translate(-50%, -50%) scale(0); transition: transform 0s;}
/* Disabled */
.pure-material-button-contained:disabled { color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
  box-shadow: none;
  cursor: initial;}

.pure-material-button-contained:disabled::before { opacity: 0;}

.pure-material-button-contained:disabled::after { opacity: 0;}

#dialogbox > div{ background:#FFF; margin:8px;}
#dialogbox > div > #dialogboxhead{ background: rgb(0, 77, 70); font-size:19px; padding:10px; color:rgb(255, 255, 255); font-family: Verdana, Geneva, Tahoma, sans-serif ;}
#dialogbox > div > #dialogboxbody{ background:rgb(0, 47, 43); padding:20px; color:#FFF; font-family: Verdana, Geneva, Tahoma, sans-serif ;}
#dialogbox > div > #dialogboxfoot{  background: rgb(0, 47, 43); padding:10px; text-align:right;}
/*#endregion Alert*/